vw_Growth.xml

<xsd:schema targetNamespace="urn:schemas-microsoft-com:sql:SqlRowSet1" xmlns:schema="urn:schemas-microsoft-com:sql:SqlRowSet1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqltypes="http://schemas.microsoft.com/sqlserver/2004/sqltypes" elementFormDefault="qualified">
  <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/sqltypes" schemaLocation="http://schemas.microsoft.com/sqlserver/2004/sqltypes/sqltypes.xsd" />
  <xsd:element name="Health_DWH.BRIUTNT_x005C_amir.shaked.vw_Growth">
    <xsd:complexType>
      <xsd:attribute name="PersonId" type="sqltypes:bigint" use="required" />
      <xsd:attribute name="ExaminationDate" type="sqltypes:datetime" use="required" />
      <xsd:attribute name="Weight">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="WHO_WeightPercentile">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="Height">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="WHO_HeightPercentile">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="WHO_WeightHeightPercentile">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="HeadCircumference">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="WHO_HeadCircumferencePercentile">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="WHO_BMIPercentile">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:decimal">
            <xsd:totalDigits value="18" />
            <xsd:fractionDigits value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="SummaryDesc">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:nvarchar" sqltypes:localeId="1037" sqltypes:sqlCompareOptions="IgnoreCase IgnoreNonSpace IgnoreKanaType IgnoreWidth">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="Comment">
        <xsd:simpleType>
          <xsd:restriction base="sqltypes:nvarchar" sqltypes:localeId="1037" sqltypes:sqlCompareOptions="IgnoreCase IgnoreNonSpace IgnoreKanaType IgnoreWidth">
            <xsd:maxLength value="1200" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="Referral" type="sqltypes:int" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>